.custom-button {
  display: flex;
  align-items: center;
  padding-left: 8px;
  background-color: #e02310;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.28);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 14.4px;
}

.icon {
  background-color: white;
  margin-left: 8px;
  display: flex;
  align-items: center;
  color: #e02310;
  padding: 8px;
  height: 40px;
  width: 40px;
  /* border-radius: 8px; */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.button-text {
  margin-right: 8px;
}

.button-icon {
  font-size: 20px;
}
