/* .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 100%;
}

.video-responsive iframe {
  /* left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; */
 */

/* Add this to your CSS file */
.video-container {
  position: relative; /* Allows the element to be positioned relative to its parent */
  padding-bottom: 56.25%; /* Maintains the aspect ratio of the video */
  height: 0; /* Necessary for the padding-bottom trick to work */
  overflow: hidden; /* Hides any overflowing content */
}

.video-container iframe {
  position: absolute; /* Allows the element to be positioned relative to its parent */
  top: 0; /* Positions the iframe at the top of the container */
  left: 0; /* Positions the iframe at the left of the container */
  width: 100%; /* Makes the iframe take up the full width of the container */
  height: 100%; /* Makes the iframe take up the full height of the container */
}
