.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
  position: relative;
}

canvas {
  display: block;
  position: absolute;
  top: 0%;
  padding: 0;
  z-index: 0;
}

#tsparticles {
  background-color: #efefef;
  /* background-image: url("../media/degradado.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
