.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.home-container img {
  width: 800px;
  z-index: 1;
}

.home-container p {
  font-size: 35px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

canvas {
  display: block;
  position: absolute;
  top: 0%;
  padding: 0;
  z-index: -1;
}

#tsparticles {
  background-color: #efefef;
  /* background-image: url("../media/degradado.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
  }

  .home-container img {
    width: 380px;
    z-index: 1;
  }

  .home-container p {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    z-index: 1;
  }
  /* canvas {
  display: block;
  position: absolute;
  top: 0%;
  padding: 0;
  z-index: 0;
  height: 100%;
} */
}
