.step-container{
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  gap: 25px;
  text-align: center;
  border: 1px solid #e02310;
  border-radius: 8px;
  width: 140px;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.step-number{
  font-size: 28px;
  color: #e02310;
}

.step-name{
  font-size: 28px;
}

.step-icon{
  font-size: 48px;
}

@media (max-width: 768px) {
  .step-container{
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  gap: 25px;
  text-align: center;
  border: 1px solid #e02310;
  border-radius: 8px;
  width: 100px;
  height: 200px;
  align-items: center;
  justify-content: center;
}
  .step-number{
  font-size: 25px;
  color: #e02310;
}

.step-name{
  font-size: 20px;
}

.step-icon{
  font-size: 40px;
}
}