.grow-container {
  display: flex;
  background-color: #fffff5;
  height: 80vh;
}

.strategy-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  align-items: center;
}

.strategy-left-content{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 220px;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 12px;
}

.heading {
  display: flex;
  gap: 5px;
  align-items: center;
}

.sub-heading {
  display: flex;
  align-items: center;
  font-size: 28px;
}

.heading h1 {
  font-size: 72px;
  font-weight: bold;
  align-items: center;
}

.strategy-right {
  display: flex;
  flex: 2;
  /* justify-content: center; */
}

.image {
  position: relative;
  height: 700px;
  width: 1000px;
  margin-top: 200px;
  left: 70px;
}

@media (max-width: 768px) {
  .grow-container {
    flex-direction: column;
    height: 80vh;
  }

  .strategy-left {
    flex: 1;
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .strategy-left p {
    font-size: 20px;
  }

  .strategy-right {
    flex: 1;
  }

  .image img {
    position: relative;
    width: 400px;
    bottom: 220px;
    right: 80px;
  }
}

@media (min-width: 1201px) {
  .grow-container {
    display: flex;
    background-color: #fffff5;
    height: 80vh;
  }
  
  .strategy-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    align-items: center;
    margin-top: 100px;
  }
  
  .description {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 12px;
  }
  
  .heading {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .sub-heading {
    display: flex;
    align-items: center;
    font-size: 28px;
  }
  
  .heading h1 {
    font-size: 72px;
    font-weight: bold;
    align-items: center;
  }
  
  .strategy-right {
    display: flex;
    flex: 2;
    /* justify-content: center; */
  }
  
  .image {
    position: relative;
    height: 700px;
    width: 800px;
    margin-top: 200px;
    left: 70px;
  }
}
