.custom-button-two {
  display: flex;
  align-items: center;
  background-color: #e02310;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.28);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.icon-two {
  background-color: white;
  color: #e02310;
  padding: 8px 10px;
  /* border-radius: 8px; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.button-text-two {
  margin-right: 28px;
  margin-left: 28px;
}

.button-icon-two {
  font-size: 20px;
}
