.podcast-container{
  display: flex;
}

.podcast-left{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: black;
  height: 100vh;
  color: white;
}

.podcast-left-top{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.podcast-left-top-content{
  text-align: center;
  margin-bottom: 20px;
}

.podcast-left-bottom{
  flex: 1;
  background-color: #fff;
}

.podcast-right{
  flex: 1;
  height: 100vh;
  background-color: yellow;

}

@media (max-width: 768px) {
  .podcast-container {
    flex-direction: column;
    height: 100vh;
  }
}