.newsletter-container {
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  width: 33%;
}

.col-2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 350px;
}

.col-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}

.content {
  color: white;
  gap: 50px;
}

.content h2 {
  text-align: center;
  font-weight: 800;
  /* margin-top: 30px; */
}

.image-left-top {
  position: relative;
  width: 800px;
  bottom: 300px;
  z-index: 1;
}

.image-left-bottom {
  width: 800px;
  position: absolute;
}

.image-right-top {
  position: relative;
  width: 800px;
  top: 25px;
  z-index: 1;
}

.image-right-bottom {
  position: relative;
  width: 800px;
  bottom: 300px;
}

@media (max-width: 768px) {
  /* .newsletter-container {
    display: flex;
    height: 100vh;
  } */

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .col-1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 33%;
    margin-top: 200px;
  }

  .col-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 33%;
    display: flex;
  }

  .col-3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 33%;
    display: flex;
  }

  .content {
    color: white;
    gap: 15px;
    padding-top: 130px;
  }

  .content h2 {
    text-align: center;
    font-weight: 800;
    font-size: 19px;
  }

  .image-left-top img {
    position: relative;
    top: 450px;
    left: 90px;
    width: 400px;
  }

  .image-left-bottom img {
    top: 150px;
    left: 110px;
    position: relative;
    width: 400px;
  }

  .image-right-top  {
    left: 110px;
    top: -300px;
    width: 400px;
  }

  .image-right-bottom {
    position: relative;
    right: 110px;
    width: 400px;
  }
}
