.newsletter-container {
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.col-2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 350px;
}

.col-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  color: white;
  gap: 50px;
}

.content h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  /* margin-top: 30px; */
}

.image-left-top {
  position: relative;
  width: 800px;
  bottom: 30px;
  z-index: 1;
}

.image-left-bottom {
  width: 800px;
  position: relative;
  bottom: 400px;
}

.image-right-top {
  position: relative;
  width: 800px;
  bottom: 30px;
  z-index: 1;
}

.image-right-bottom {
  position: relative;
  width: 800px;
  bottom: 400px;
}

@media screen and (max-width: 768px) {
  .newsletter-container {
    /* display: flex; */
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .col-1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .col-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
  }

  .col-3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .content {
    color: white;
    gap: 35px;
    padding-top: 130px;
    align-items: center;
    justify-content: center;
  }

  .content h2 {
    font-weight: 800;
    text-align: center;
    font-size: 19px;
  }

  .image-left-top img {
    position: relative;
    top: 160px;
    left: 110px;
    width: 400px;
  }

  .image-left-bottom img {
    top: 550px;
    right: 110px;
    position: relative;
    width: 400px;
  }

  .image-right-top {
    position: relative;
    left: 110px;
    top: -350px;
    width: 400px;
  }

  .image-right-bottom {
    position: relative;
    right: 110px;
    width: 400px;
    bottom: 350px;
  }
}

@media (min-width: 1201px) {
  .newsletter-container {
    height: 100vh;
    background-color: black;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .col-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
  }

  .col-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 350px;
  }

  .col-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
  }

  .content {
    color: white;
    gap: 50px;
  }

  .content h2 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    /* margin-top: 30px; */
  }

  .image-left-top {
    position: relative;
    width: 800px;
    bottom: 95px;
    z-index: 1;
  }

  .image-left-bottom {
    width: 800px;
    position: relative;
    bottom: 500px;
  }

  .image-right-top {
    position: relative;
    width: 800px;
    bottom: 95px;
    z-index: 1;
  }

  .image-right-bottom {
    position: relative;
    width: 800px;
    bottom: 500px;
  }
}
