.footer-container {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 100vh;
}

.footer-top {
  display: flex;
  flex: 1;
  background-color: yellow;
}

.footer-top-left {
  flex: 1;
  background-color: lightcoral;
}

.footer-top-right {
  flex: 1;
  background-color: lightblue;
}

.footer-bottom {
  flex: 1;
}
