.media-container {
  display: flex;
  background-color: #fffff5;
  height: 100vh;
}

.media-left {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  left: 123px;
}

.heading {
  display: flex;
  gap: 5px;
  align-items: center;
}

.heading h1 {
  font-weight: bold;
  align-items: center;
}

.o {
  color: red;
}

.media-right {
  display: flex;
  flex: 2;
  /* justify-content: center; */
}

.media-center{
  position: relative;
  top: 400px;
  left: 200px;
  border: 2px solid red;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  font-size: 25px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(219, 219, 219));
}

.image-media img{
  position: relative;
  bottom: 80px;
  right: 50px;
  height: 800px;
  width: 800px;
  /* margin-top: 200px; */
}

.description{
  text-align: center;
}

@media (max-width: 768px) {
  .media-container {
    flex-direction: column;
    height: 80vh;
  }

  .media-left {
    flex: 1;
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .media-right {
    flex: 1;
  }

  .image-media {
    position: relative;
    left: 35px;
    height: 800px;
    width: 300px;
    margin-top: 20px;
  }
}

@media (min-width: 1201px) {
  .media-container {
    display: flex;
    background-color: #fffff5;
    height: 100vh;
  }

  .media-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
  }

  .heading {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .heading h1 {
    font-weight: bold;
    align-items: center;
  }

  .o {
    color: red;
  }

  .media-right {
    display: flex;
    flex: 2;
    /* justify-content: center; */
  }

  .image-media {
    position: relative;
    width: 700px;
    left: 90px;
    top: 100px;
  }
}
